<table class="table table-summary" id="cart-summary">
    <tbody>
        <tr class="summary-subtotal">
            <td>Subtotal:</td>
            <td>{{ cart_total|floatformat:2 }}</td>
        </tr><!-- End .summary-subtotal -->
        <tr class="summary-shipping">
            <td>Shipping:</td>
            <td>&nbsp;</td>
        </tr>

        <tr class="summary-shipping-row">
            <td>
                <div class="custom-control custom-radio">
                    <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                    <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                </div><!-- End .custom-control -->
            </td>
            <td>$0.00</td>
        </tr><!-- End .summary-shipping-row -->

        <tr class="summary-shipping-row">
            <td>
                <div class="custom-control custom-radio">
                    <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                    <label class="custom-control-label" for="standart-shipping">Standart:</label>
                </div><!-- End .custom-control -->
            </td>
            <td>$10.00</td>
        </tr><!-- End .summary-shipping-row -->

        <tr class="summary-shipping-row">
            <td>
                <div class="custom-control custom-radio">
                    <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                    <label class="custom-control-label" for="express-shipping">Express:</label>
                </div><!-- End .custom-control -->
            </td>
            <td>$20.00</td>
        </tr><!-- End .summary-shipping-row -->

        <tr class="summary-shipping-estimate">
            <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
            <td>&nbsp;</td>
        </tr><!-- End .summary-shipping-estimate -->

        <tr class="summary-total">
            <td>Total:</td>
            <td>{{ cart_total|floatformat:2 }}</td>
        </tr><!-- End .summary-total -->
    </tbody>
</table><!-- End .table table-summary -->