{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Products{% endblock title %}

{% block content %}

<main class="main">
	<div class="page-header text-center"
		style="background-image: url({% static './assets/images/page-header-bg.jpg' %})">
		<div class="container">
			<h1 class="page-title">List<span>Shop</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
				<li class="breadcrumb-item"><a href="">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">List</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">

					<div class="toolbox" id="toolbox">
						{% include "partials/toolbox.html" %}
					</div><!-- End .toolbox -->

					<div class="products mb-3" id="filtered-product">
						{% include "partials/product-list.html" %}
					</div><!-- End .products -->

					<div id ="pagination">
						{% include "partials/pagination.html" %}
					</div><!-- End .pagination -->
					
				</div><!-- End .col-lg-9 -->

				<aside class="col-lg-3 order-lg-first">
					<div class="sidebar sidebar-shop">
						<div class="widget widget-clean">
							<label>Filters:</label>
							<a href="#" class="sidebar-filter-clear">Clean All</a>
						</div><!-- End .widget widget-clean -->

						<div class="widget widget-collapsible">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
									aria-controls="widget-1">
									Category
								</a>
							</h3><!-- End .widget-title -->

							<div class="collapse show" id="widget-1">
								<div class="widget-body">
									<div class="filter-items filter-items-count">
										{% for c in categories %}
										<div class="filter-item">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="filter-checkbox custom-control-input"
													data-filter="category" id="{{ c.id }}" value="{{ c.id }}">
												<label class="custom-control-label" for="{{ c.id }}">{{c.title}}</label>
											</div><!-- End .custom-checkbox -->
											<span class="item-count">{{c.product_count}}</span>
										</div><!-- End .filter-item -->
										{% endfor %}


									</div><!-- End .filter-items -->
								</div><!-- End .widget-body -->
							</div><!-- End .collapse -->
						</div><!-- End .widget -->


						<div class="widget widget-collapsible">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
									aria-controls="widget-4">
									Brand
								</a>
							</h3><!-- End .widget-title -->

							<div class="collapse show" id="widget-4">
								<div class="widget-body">
									{% for v in vendors %}
									<div class="filter-items">

										<div class="filter-item">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="filter-checkbox custom-control-input"
													data-filter="vendor" id="{{ v.id }}" value="{{ v.id }}">
												<label class="custom-control-label" for="{{ v.id }}">{{v.title}}</label>
											</div><!-- End .custom-checkbox -->

										</div><!-- End .filter-item -->

									</div><!-- End .filter-items -->
									{% endfor %}
								</div><!-- End .widget-body -->
							</div><!-- End .collapse -->
						</div><!-- End .widget -->

						<div class="widget widget-collapsible">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
									aria-controls="widget-5">
									Price
								</a>
							</h3><!-- End .widget-title -->

							<div class="collapse show" id="widget-5">
								<div class="widget-body">
									<div class="filter-price">
										<div class="filter-price-text">
											Price Range:
											<span id="filter-price-range"></span>
										</div><!-- End .filter-price-text -->

										<div id="price-slider"></div><!-- End #price-slider -->
									</div><!-- End .filter-price -->
								</div><!-- End .widget-body -->
							</div><!-- End .collapse -->
							<button type="button" id="price-filter-btn" class="btn btn-outline-primary-2">
								<span>Filter by price</span>
								<i class="icon-long-arrow-right"></i>
							</button>
						</div><!-- End .widget -->
					</div><!-- End .sidebar sidebar-shop -->
				</aside><!-- End .col-lg-3 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock content %}